/*General purpose CSS used throughout*/


html, body {
  height: 100%;
  outline: none;

}


body {

}
a {

	color: #00A2F0;
}

.btn-primary {
	background-color: #00A2F0;
	border-color: #00A2F0;
}


main {
  background-color: white;
  width: 70%;
  min-height: 100%;
  border-right: 1px solid #F2F2F2;
  border-left: 1px solid #F2F2F2;
}


@media screen and (max-width:1555px) {
	#profilePic {
	height: 12vw !important;
	width: 12vw  !important;
	}
}

@media screen and (max-width:685px) {
	#profilePic {
	height: 100px !important;
	width: 100px !important;
	}
}
@media screen and (max-width: 425px) {
	main, .container-lg  {
		/*margin-top: 5rem !important;*/
	}
	#profileContainer{
		width: 100%;
	}
	.postImg{
		width: 100%;
	}
	#allButMain {
		margin-top: 25%;
	}

	#profileForm{
		display: none;
	}
	.carousel-item {
		padding-top: 5vh;
	}
	#frontPagePost {
		width: 100% !important;
	}
 }




#VAGprofilepic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}
#VAGprofilename{
	display: block;
	margin-right: auto;
	word-wrap: break-word;
}
#usersprofilepic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 10vw;
	height: 10vw;
	
}

#profilePic{
	height: 8vw;
	width: 8vw;
    background-size: cover;
    display: inline-block;
}



.carousel-item {
	height: auto;
	min-height: 350px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}	


#profileContainer {

	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%
}
.postImg {
	width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
  	margin-left: auto;
  	margin-right: auto;
	border-radius: 5%;
	padding-top: 2%;
  
}

.rounded-3 {
	border-radius: 2rem!important;
}

.FocusedPost {

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}

#frontPagePost {
	width: 50%;
	height: auto;
    display: block;
    margin-top: 2vh;
  	margin-left: auto;
  	margin-right: auto;
  	border: 3px solid #EEEEEE;
  	border-radius: 5%;

}
#frontPagePost:hover {
	transition: background-color 0.5s ease;
 	background-color: #f8f9fa;
}

#post {
	padding: 4% 8%;
	border-radius: 5%;
	word-wrap: break-word;
}

#post:hover {
 	transition: background-color 0.5s ease;
 	background-color: #f8f9fa;
 }




/*Comments*/

#commentsForm {
	margin-top: 5%;
	margin-left: 10%;
  	margin-right: 10%;
  	margin-bottom: 5%;
}
#comments {
	margin-left: 10%;
  	margin-right: 10%;
  	margin-top: 2%;
}



/*Voting button*/
#voteButtons {
    display: inline;
    float: right;
    margin-top: 2.5%;
    width: 40%;
    min-width: 50px;

}
#upvoteButton{
	background-image: url("mainArt/upvote.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border: none;
    background-color: white;
	height: auto;
    float: right;
    max-width: 100px;

}
#upvoteButton:hover, #upvoteSel:hover{
	transition: background-color 0.5s ease;
	background-color: #00A2F0;
	border-radius: 50%;
}
#downvoteButton{
	background-image: url("mainArt/downvote.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border: none;
    background-color: white;
	height: auto;
    float: right;
    max-width: 100px;

}
#downvoteButton:hover, #downvoteSel:hover {
	transition: background-color 0.5s ease;
	background-color: #00A2F0;
	border-radius: 50%;
}

#upvoteSel{
	background-image: url("mainArt/upvoteSelected.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border: none;
    background-color: white;
	height: auto;
    float: right;

}
#downvoteSel{
	background-image: url("mainArt/downvoteSelected.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border: none;
    background-color: white;
	height: auto;
    float: right;

}

.upvoteCount{
 padding-top: 1.5rem;
}


/*Search*/

/* Formatting result items */
.result {
	background-color: #d5d6d8;
	transition: background-color 0.5s ease;
    margin: 0;
    padding: 7px 10px;
    bac
    border-top: none;
    cursor: pointer;
}

.result p:hover{
     background: #f2f2f2;
     border-radius: 4px
}


